<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}{{ title }}{% endblock %} — Jon & Gabriella&apos;s Wedding
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="none">
    <script type="importmap">
      {
        "imports": {
          "alpinejs": "/vendor/alpinejs.js"
        }
      }
    </script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preload" href="/fonts/alice.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/amsterdam-one.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="modulepreload" href="/vendor/alpinejs.js">
  </head>
  <body>
    <div class="page-container">
      <header class="margin-bottom-m">
        <nav class="nav">
          <a href="/">Home</a>
          <a href="/the-wedding">The wedding</a>
          <a href="/travel-and-accommodations">Travel and accommodations</a>
          <a href="/rsvp">RSVP</a>
          <a href="/photos">Photos</a>
        </nav>
      </header>
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
    <script type="module">
      import Alpine from "alpinejs";
      Alpine.start();
    </script>
  </body>
</html>
