<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}{{ title }}{% endblock %} — Jon & Gabriella&apos;s Wedding
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="none">
    <script type="importmap">
      {
        "imports": {
          "alpinejs": "/vendor/alpinejs.js"
        }
      }
    </script>
    <link rel="icon" href="/images/favicon.svg">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preload" href="/fonts/alice.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/amsterdam-one.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="modulepreload" href="/vendor/alpinejs.js">
  </head>
  <body>
    <div class="page-container">
      <header class="margin-bottom-m" x-data="{ open: false }">
        <button class="button nav-toggle padding-s" @click="open = true">
          <img src="/images/menu.svg" alt="" width="25" height="25">
        </button>
        <div class="nav" :class="open && 'open'">  
          <button class="button nav-toggle" @click="open = false">Close</button>
          <nav class="nav-items">
            <a href="/">Home</a>
            <a href="/the-wedding">The Wedding</a>
            <a href="/travel-and-accommodations">Travel &amp; Accommodation</a>
            <a href="/rsvp">RSVP</a>
            <a href="/photos">Photos</a>
          </nav>
        </div>
      </header>
      <main class="page-content">
        {% block content %}{% endblock %}
      </main>
    </div>
    <script type="module">
      import Alpine from "alpinejs";
      Alpine.start();
    </script>
  </body>
</html>
