{% layout "layouts/base-email" %}

{% block title %}RSVP Confirmed{% endblock %}

{% block content %}
  <h1>RSVP Confirmed!</h1>
  <p>
    Hi {{ invite.primaryGuest.firstName }},<br>
    <br>
    {% if invite.status == "accepted" %}
      Your RSVP has been confirmed, we look forward to seeing you at the wedding!<br>
    {% endif %}
    {% if invite.status == "rejected" %}
      Your RSVP has been confirmed, we're sorry you couldn't make it.<br>
    {% endif %}
    <br>
    If you change your mind or want to update your RSVP you can use the link below to get back.<br>
    <br>
    <a href="{{ host }}/rsvp/{{ invite.code }}">Update your RSVP</a><br>
    <br>
    Jon &amp; Gabriella
  </p>
{% endblock %}
