{% layout "layouts/base" %}

{% block title %}We are getting married{% endblock %}

{% block content %}
  <section class="margin-bottom-3xl">
    <div class="grid margin-bottom-3xl">
      <div class="display-flex flex-direction-column justify-content-center text-align-center" style="--grid-column: col-start / span 12; --grid-column-md: col-start / span 6;">
        <hgroup class="margin-bottom-s">
          <h1 class="margin-bottom-m text-fancy font-size-6">We are getting married</h1>
          <p class="font-size-5">Jon & Gabriella</p>
        </hgroup>
        <time datetime="2025-05-24" class="margin-bottom-s font-size-1 text-transform-uppercase">May 24th, 2025</time>
        <a class="button margin-inline-auto" href="/rsvp">RSVP Here</a>
      </div>
      <img class="margin-inline-auto" style="--grid-column: col-start / span 12; --grid-column-md: col-start 7 / span 6;" src="/images/flowers.webp" alt="" width="595" height="579" role="presentation">
    </div>
    <div class="grid">
      <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center padding-block-xl">
        We would like to invite you to our wedding. To celebrate our love and be part of the special day.<br><br>
        On this website, you can find all the information about the wedding, and travelling to Italy.<br><br>
        Here are some quick links to the most important information.<br><br>
      </p>
      <div class="display-flex flex-direction-column flex-direction-row-on-md justify-content-space-between gap-m margin-bottom-xl" style="--grid-column: col-start / span 12; --grid-column-lg: col-start 2 / span 10;">
        <a class="button" href="/the-wedding">The wedding ceremony</a>
        <a class="button" href="/travel-and-stay">Travel and stay</a>
        <a class="button" href="/downloads/survival-guide.pdf" download="Campania Survival Guide.pdf">Downloadable survival guide</a>
      </div>
      <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center">
        If you want to know more about how we got here, keep scrolling for some highlights of our love story.
      </p>
    </div>
  </section>
  <img class="margin-bottom-3xl margin-inline-auto" src="/images/floral-seperator.svg" alt="" width="500" height="79" role="presentation">
  <section class="grid margin-bottom-3xl">
    <h2 style="--grid-column: col-start / span 12;" class="font-size-4 text-align-center margin-bottom-s">Our Story</h2>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center margin-bottom-s">
      We met in Amsterdam on September 8th, 2018 and sparks flew instantly.
    </p>
    <div style="--grid-column: col-start / span 12;">
      <img class="margin-bottom-m margin-inline-auto" src="/images/amsterdam-skyline.webp" alt="" width="866" height="314" role="presentation">
    </div>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center margin-bottom-l">
      In the following years, we traveled through our dream destinations and had so much fun together that we decided to live under the same roof. 
    </p>
    <div class="display-flex flex-direction-column flex-direction-row-on-md justify-content-space-between gap-m margin-bottom-3xl" style="--grid-column: col-start / span 12;">
      <img class="image" src="/images/trip-iceland.webp" alt="" width="894" height="875" role="presentation">
      <img class="image" src="/images/trip-japan.webp" alt="" width="894" height="875" role="presentation">
      <img class="image" src="/images/trip-uk.webp" alt="" width="894" height="875" role="presentation">
    </div>
    <div class="grid margin-bottom-s" style="--grid-column: col-start / span 12;">
      <p style="--grid-column: col-start / span 12; --grid-column-md: col-start / span 6;" class="font-size-2 text-align-center margin-block-auto">
        In 2021, we bought a house and adopted our little girl.
      </p>
      <img style="--grid-column: col-start / span 12; --grid-column-md: col-start 7 / span 6;" class="margin-inline-auto" src="/images/azula-joins.webp" alt="" width="563" height="595" role="presentation">
    </div>
    <div style="--grid-column: col-start / span 12;">
      <p class="font-size-2 text-align-center margin-bottom-xl">And then&hellip;</p>
      <div class="grid">
        <img class="margin-inline-auto" style="--grid-column: col-start / span 12; --grid-column-md: col-start 2 / span 4;" src="/images/proposal.webp" alt="" width="279" height="415" role="presentation">
        <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 7 / span 5;" class="font-size-2 text-align-center margin-block-auto">In January 2024, Jon proposed in Naples, and we decided to get married!</p>
      </div>
    </div>
  </section>
{% endblock %}
