{% layout "layouts/base" %}

{% block title %}We're getting married!{% endblock %}

{% block content %}
  <h1>We're getting married!</h1>
  <p>We would like to invite you to our wedding. To celebrate our love and be part of the special day.</p>
  <hr>
  <p>
    Save the Date<br>
    24 May 2025
  </p>
  <a href="/rsvp">RSVP</a>
{% endblock %}
