{% layout "layouts/base" %}

{% block title %}Our story{% endblock %}

{% block content %}
  <h1>Our story</h1>
  <p>As we prepare to celebrate our wedding day, we are grateful for the love and support of our family and friends. Thank you for being part of our journey. We can't wait to celebrate with you!</p>
{% endblock %}
