{% layout "layouts/base" %}

{% block title %}Photos{% endblock %}

{% block content %}
  <h1>Photos</h1>
  <p>
    If you took any photos or videos during the wedding that are worthwhile sharing, we would love to receive them!<br><br>
    You can upload them in this Google Drive folder: <!-- TODO: Add link to Google Drive folder --><br><br>
    You can upload directly from your computer or via the Google Drive app on your phone. Thank you!<br><br>
    <!-- TODO: Add QR code for Google Drive folder -->
    QR Code to the Google Folder
  </p>
{% endblock %}
