{% layout "layouts/base" %}

{% block title %}Photos{% endblock %}

{% block content %}
  <section class="grid margin-bottom-3xl">
    <div class="display-flex flex-direction-column justify-content-center text-align-center" style="--grid-column: col-start / span 12; --grid-column-md: col-start / span 6;">
      <h1 class="margin-bottom-m text-fancy font-size-6">Photos</h1>
    </div>
    <img class="margin-inline-auto" style="--grid-column: col-start / span 12; --grid-column-md: col-start 7 / span 6;" src="/images/flowers.webp" alt="" width="595" height="579" role="presentation">
  </section>
  <section class="grid margin-bottom-3xl">
    <h2 style="--grid-column: col-start / span 12;" class="font-size-4 text-align-center margin-bottom-m">Sharing is caring</h2>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center">
      If you captured any special moments from our wedding, we&apos;d love to see them!<br><br>
      Please share your photos and videos with us and browse those taken by other guests.<br><br>
      Just click the button below or scan the QR code to upload and view.<br><br>
    </p>
    <div class="display-flex margin-bottom-m" style="--grid-column: col-start / span 12;">
      <a class="button margin-inline-auto" href="{{ photosUrl }}" target="_blank">Add your photos</a><br>
    </div>
    <div style="--grid-column: col-start 2 / span 10; --grid-column-md: col-start 5 / span 4;">
      {{ photosUrlSvg | raw }}
    </div>
  </section>
  <p>
{% endblock %}
