{% layout "layouts/base" %}

{% block title %}RSVP{% endblock %}

{% block content %}
  <form 
    class="grid margin-top-3xl margin-bottom-3xl"
    style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;"
    method="post"
    x-data="{
      formState: {{ formState | stringifyObject }},
      addGuest() {
        this.formState.guests.push({ firstName: '', lastName: '' });
      },
      removeGuest(index) {
        this.formState.guests.splice(index, 1);
      }
    }">
    <h1 class="font-size-4">Will you be there?</h1>
    {% if emailTaken %}
      <div class="alert" role="alert">
        <div class="alert-icon" aria-label="">⚠️</div>
        <p class="alert-text">It looks like you've already RSVP'd. If you need to make changes, please use the link in your e-mail.</p>
      </div>
    {% endif %}
    {% if didCreate %}
      <div class="alert" role="alert">
        <div class="alert-icon" aria-label="">🎉</div>
        <p class="alert-text">Your RSVP has been confirmed!</p>
      </div>
    {% endif %}
    {% if didUpdate %}
      <div class="alert" role="alert">
        <div class="alert-icon" aria-label="">✅</div>
        <p class="alert-text">Your RSVP has been updated.</p>
      </div>
    {% endif %}
    <section>
      <h2 class="font-size-3 margin-bottom-m">Attendance</h2>
      <p class="font-size-1 margin-bottom-s">Let us know if you'll be able to make it.</p>
      <div>
        <label class="font-size-1" for="attending">Will you be attending?</label>
        <select id="attending" name="attending" x-model.boolean="formState.attending">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </section>
    <section>
      <h2 class="font-size-3 margin-bottom-m">Contact information</h2>
      <p class="font-size-1 margin-bottom-s">We'll use this information to keep you up-to-date on the wedding.</p>
      <div class="margin-bottom-m">
        <label class="font-size-1" for="primaryGuest[firstName]">Your first name</label><br>
        <input class="text-control" id="primaryGuest[firstName]" name="primaryGuest[firstName]" type="text" x-model="formState.primaryGuest.firstName" autocomplete="given-name" required>
      </div>
      <div class="margin-bottom-m">
        <label class="font-size-1" for="primaryGuest[lastName]">Your last name</label><br>
        <input class="text-control" id="primaryGuest[lastName]" name="primaryGuest[lastName]" type="text" x-model="formState.primaryGuest.lastName" autocomplete="family-name" required>
      </div>
      <div>
        <label class="font-size-1" for="email">Your e-mail address</label><br>
        <small>We'll send you a link to your invitation in case you change your mind.</small>
        <input class="text-control" id="email" type="email" name="email" x-model="formState.email" autocomplete="email" required><br>
      </div>
    </section>
    <section x-show="formState.attending">
      <h2 class="font-size-3 margin-bottom-m">Plus-ones</h2>
      <p class="font-size-1 margin-bottom-s">Do you want to bring anyone else?</p>
      <template x-if="formState.guests.length > 0">
        <ul class="list-style-none padding-none">
          <template x-for="(guest, index) in formState.guests">
            <li class="margin-bottom-m">
              <template x-if="guest.id">
                <input type="hidden" :name="`guests[${index}][id]`" :value="guest.id">
              </template>
              <h3 class="font-size-2 margin-bottom-s" x-text="`Guest #${index + 1}`"></h3>
              <div>
                <label class="font-size-1" :for="`guests[${index}][firstName]`">First name</label>
                <input class="text-control" :id="`guests[${index}][firstName]`" type="text" :name="`guests[${index}][firstName]`" x-model="guest.firstName" autocomplete="given-name" required>
              </div>
              <div class="margin-bottom-m">
                <label class="font-size-1" :for="`guests[${index}][lastName]`">Last name</label>
                <input class="text-control" :id="`guests[${index}][lastName]`" type="text" :name="`guests[${index}][lastName]`" x-model="guest.lastName" autocomplete="family-name" required>
              </div>
              <button class="button" type="button" @click="removeGuest(index)" x-text="`Remove guest #${index + 1}`"></button>
            </li>
          </template>
        </ul>
      </template>
      <button class="button" type="button" @click="addGuest()">Add plus-one</button>
    </section>
    <section>
      <h2 class="font-size-3 margin-bottom-m">Additional notes</h2>
      <p class="font-size-1 margin-bottom-s">Got any dietary restrictions or other notes for us? Let us know here.</p>
      <textarea class="text-control width-100 max-width-100" name="notes" x-model="formState.notes"></textarea>
    </section>
    <button class="button" type="submit">Submit</button>
  </form>
{% endblock %}
