{% layout "layouts/base" %}

{% block title %}RSVP{% endblock %}

{% block content %}
  <h1>Something went wrong</h1>
  <p>We had some trouble handling your RSVP, please try again.</p>
  <a href="/rsvp">Try again</a>
{% endblock %}
