{% layout "layouts/base" %}

{% block title %}RSVP{% endblock %}

{% block content %}
  <h1>Will you be there?</h1>
  <p>Enter the secret code provided with your invitation.</p>
  <form>
    <div>
      <label for="code">Secret code:</label><br>
      <input type="password" name="code" autocomplete="off" required{% if invalidCode %} aria-invalid="true" aria-errormessage="code-error"{% endif %}>
      {% if invalidCode %}
        <span id="code-error" role="alert">Invalid code, please provide the code on your invitation.</span>
      {% endif %}
    </div>
    <button class="button" type="submit">Submit</button>
  </form>
{% endblock %}
