{% layout "layouts/base" %}

{% block title %}The Wedding{% endblock %}

{% block content %}
  <section class="grid margin-bottom-3xl">
    <div class="display-flex flex-direction-column justify-content-center text-align-center" style="--grid-column: col-start / span 12; --grid-column-md: col-start / span 6;">
      <h1 class="margin-bottom-m text-fancy font-size-6">The Wedding</h1>
    </div>
    <img class="margin-inline-auto" style="--grid-column: col-start / span 12; --grid-column-md: col-start 7 / span 6;" src="/images/flowers.webp" alt="" width="595" height="579" role="presentation">
  </section>
  <section class="grid margin-bottom-3xl">
    <div class="display-flex flex-direction-column justify-content-center" style="--grid-column: col-start / span 12; --grid-column-md: col-start / span 6;">
      <h2 class="font-size-4 text-align-center margin-bottom-m">Location</h2>
      <p class="font-size-2 text-align-center margin-bottom-m">The wedding will take place in Caserta, in the South of Italy. To find the best way to get there, and travel information, visit the Travel and Stay section.</p>
      <div class="display-flex flex-direction-column justify-content-center">
        <a class="button margin-inline-auto" href="/travel-and-stay">Travel and stay</a>
      </div>
    </div>
    <img class="margin-inline-auto" style="--grid-column: col-start / span 12; --grid-column-md: col-start 7 / span 6;" src="/images/location.webp" alt="" width="535" height="546" role="presentation">
  </section>
  <section class="grid margin-bottom-3xl">
    <h2 style="--grid-column: col-start / span 12;" class="font-size-4 text-align-center margin-bottom-m">Ceremony & Reception</h2>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center">
      Join us for our wedding ceremony at Castello Ducale (Castel Campagnano), a historical building built at the end of the 18th century in the Caserta area.<br><br>
      The reception will occur in the same location as the ceremony (Castello Ducale), where we will eat, drink, and party from the late afternoon until midnight.
    </p>
  </section>
  <div class="backdrop grid margin-bottom-3xl escape-page-gutter">
    <img class="backdrop__image" src="/images/castello-backdrop.webp" alt="" role="presentation">
    <div class="backdrop__text" style="--grid-column: col-start / span 12; --grid-column-md: col-start 7 / span 6;">
      <p class="font-size-2 text-align-center">
        Castello Ducale<br>
        (Castel Campagnano)<br>
        <br>
        Address:<br>
        <a href="https://maps.app.goo.gl/r2Acwk4ect2MJvVH9" target="_blank">Via XIV Ottobre, 81010 Castel Campagnano CE, Italy</a><br>
        <br>
        Parking:<br>
        The wedding venue offers free parking for the guests.
      </p>
    </div>
  </div>
  <section class="grid margin-bottom-3xl">
    <h2 style="--grid-column: col-start / span 12;" class="font-size-4 text-align-center margin-bottom-m">Programme</h2>
    <ol style="--grid-column: col-start / span 12;" class="font-size-3 text-align-center margin-bottom-xl list-style-none padding-none">
      <li><time class="font-weight-bold" datetime="16:00">16.00:</time> Welcome</li>
      <li><time class="font-weight-bold" datetime="16:30">16.30:</time> Ceremony*</li>
      <li><time class="font-weight-bold" datetime="17:30">17.30:</time> Dinner starts</li>
      <li><time class="font-weight-bold" datetime="21:00">21.00:</time> Wine tasting</li>
      <li><time class="font-weight-bold" datetime="22:00">22.00:</time> Cake cutting</li>
      <li><time class="font-weight-bold" datetime="23:00">23.00:</time> Dance</li>
    </ol>
    <h3 style="--grid-column: col-start / span 12;" class="font-size-2 text-align-center font-weight-bold">*Would You Like to Say a Few Words?</h3>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-1 text-align-center">
      We'd love for our guests to take an active role in our special day! If you'd like to share a short speech
      (up to 3-4 minutes), please reach out to our officiant, <a href="https://www.instagram.com/davidmli/" target="_blank">Davide</a>. He'll coordinate the speeches and, if
      needed, translate them into English or Italian so that everyone can share in the moment.
    </p>
  </section>
  <img class="margin-bottom-3xl margin-inline-auto" src="/images/floral-seperator.svg" alt="" width="500" height="79" role="presentation">
  <section class="grid margin-bottom-3xl">
    <h2 style="--grid-column: col-start / span 12;" class="font-size-4 text-align-center margin-bottom-s">Good to know</h2>
    <h3 style="--grid-column: col-start / span 12;" class="font-size-3 text-align-center margin-bottom-m">Dress code</h3>
    <div class="grid margin-bottom-3xl" style="--grid-column: col-start / span 12;">
      <p style="--grid-column: col-start / span 12; --grid-column-md: col-start / span 6;" class="font-size-2 text-align-center margin-bottom-3xl">
        You may be wondering what to wear at an Italian wedding. We&apos;re here to help.<br>
        <br>
        The most common dress code for Italian weddings is Cocktail, which means semi-formal attire, but with room for personalization.<br>
        <br>
        For example, men can wear a suit or a blazer paired with dress trousers. A colorful tie or bow tie adds a refined touch, though it&apos;s optional.
      </p>
      <img style="--grid-column: col-start / span 12; --grid-column-md: col-start 7 / span 6;" class="margin-inline-auto" src="/images/dress-code-men.webp" alt="" width="312" height="517" role="presentation">
    </div>
    <div class="grid margin-bottom-3xl" style="--grid-column: col-start / span 12;">
      <img style="--grid-column: col-start / span 12; --grid-column-md: col-start / span 6;" class="margin-inline-auto" src="/images/dress-code-women.webp" alt="" width="297" height="482" role="presentation">
      <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 7 / span 6;" class="font-size-2 text-align-center">
        Women can choose from a variety of options, such as a cocktail dress, a stylish skirt, and top combination, or even a chic jumpsuit. Complement your outfit with elegant heels or dressy flats.<br>
        <br>
        Whatever you wear, make sure you feel relaxed and comfortable and embrace your style.<br>
        <br>
        If you have doubts, feel free to reach out to Bibi for personalized tips.
      </p>
    </div>
    <h3 style="--grid-column: col-start / span 12;" class="font-size-3 text-align-center margin-bottom-m">Gifts</h3>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center">
      Your presence at our wedding is the greatest gift we could ask for, especially if you travel from abroad and cover hotel and transportation costs.<br>
      <br>
      If you still wish to contribute, we would be grateful for any contributions towards our honeymoon. Our IBAN details are provided below:<br>
      <br>
      NL52BUNQ2122698047<br><br>
      Thank you!
    </p>
  </section>
{% endblock %}
