{% layout "layouts/base" %}

{% block title %}The wedding{% endblock %}

{% block content %}
  <h1>The wedding</h1>
  <section>
    <h2>Ceremony details</h2>
    <p>
      Join us for our wedding ceremony at Castello Ducale (Castel Campagnano), a historical building built at the end of the 18th century in the Caserta area.<br><br>
      Details about the ceremony time will be coming soon.
    </p>
  </section>
  <section>
    <h2>Reception details</h2>
    <p>
      The reception will take place in the same location as the ceremony (Castello Ducale), where we will eat, drink, and party from the late afternoon until midnight.<br><br>
      The full program of the reception will be coming soon.
    </p>
  </section>
  <section>
    <h2>Dress code</h2>
    <p>
      You may be wondering what to wear at an Italian wedding. We&amp;re here to help.
      The dress code is <strong>Creative Black Tie</strong>, which means formal attire, but with room for personalization.<br><br>
      For example, Men can wear a black suit with a colorful tie, while women can wear a formal dress in a bright color or pattern.<br><br>
      Whatever you decide to wear, make sure you feel relaxed and comfortable and embrace your own style.<br><br>
      If you have doubts, feel free to reach out to Bibi for personalized tips.
    </p>
  </section>
  <section>
    <h2>Directions</h2>
    <!-- TODO: Add a map here -->
    <p>
      Address: Via XIV Ottobre, 81010 Castel Campagnano CE, Italy
    </p>
    <h3>Parking information</h3>
    <p>
      The wedding venue offers free parking for the guests.
    </p>
  </section>
  <section>
    <h2>Gift policy</h2>
    <p>
      Your presence at our wedding is the greatest gift we could ask for, especially if you are travelling from abroad and covering hotel and transportation costs. If you still wish to contribute, we would be grateful for any contributions towards our honeymoon.<br><br>
      Our IBAN details are provided below:<br>
      <!-- TODO: Add IBAN details here -->
       NL91 ABNA 0000 0000 00
    </p>
  </section>
{% endblock %}
