{% layout "layouts/base" %}

{% block title %}Travel &amp; Stay{% endblock %}

{% block content %}
  <section class="grid margin-bottom-3xl">
    <div class="display-flex flex-direction-column justify-content-center text-align-center" style="--grid-column: col-start / span 12; --grid-column-md: col-start / span 6;">
      <h1 class="margin-bottom-m text-fancy font-size-6">Travel &amp; Stay</h1>
    </div>
    <img class="margin-inline-auto" style="--grid-column: col-start / span 12; --grid-column-md: col-start 7 / span 6;" src="/images/flowers.webp" alt="" width="595" height="579" role="presentation">
  </section>
  <section class="grid margin-bottom-3xl">
    <h2 style="--grid-column: col-start / span 12;" class="font-size-4 text-align-center margin-bottom-m">Travel</h2>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center">
      We encourage our guests to travel to and book accommodations in <a href="https://maps.app.goo.gl/HPfLvgH98rSnVbXFA" target="_blank">Caserta</a>.<br><br>
      Even though the wedding location is in Castel Campagnano, this is a small town in the province of Caserta. Getting there is not the easiest and there is not much entertainment.<br><br>
      <strong>And worry not! On the wedding day, we will arrange shuttle buses from the city center of Caserta to the wedding venue.</strong><br><br>
      Traveling to Caserta is fairly easy.<br> Direct flights to Naples International Airport (the nearest airport) are available from almost any major European city.<br><br>
      From the Netherlands, you&apos;ll find a direct connection with both “EasyJet” and “Transavia”.<br><br>
      To check out the best rates, we&apos;d recommend to visit <a href="https://www.skyscanner.com/" target="_blank">Skyscanner</a>.
    </p>
  </section>
  <img class="margin-bottom-3xl margin-inline-auto" src="/images/plane-seperator.svg" alt="" width="546" height="141" role="presentation">
  <section class="grid margin-bottom-3xl">
    <h2 style="--grid-column: col-start / span 12;" class="font-size-4 text-align-center margin-bottom-m">Renting a car</h2>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center">
      Once you land in Naples, we&apos;d recommend to rent a car directly at the airport.
      From the airport to Caserta&apos;s city center it&apos;s a 30-minute drive.<br><br>
      Renting a car is the fastest way to move around and explore your surroundings.<br><br>
      <small>Tip: When driving in the South of Italy be aware that people tend to be less rule-abiding, and it might look a bit chaotic in the beginning. Don&apos;t let this discourage you, and try to take driving in Italy as a “different” experience than back home.</small>
    </p>
  </section>
  <section class="grid margin-bottom-3xl">
    <h2 style="--grid-column: col-start / span 12;" class="font-size-4 text-align-center margin-bottom-m">Public Transportation</h2>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center">
      You can also decide to go by public transportation. In that case, you&apos;ll need to first get to Napoli Central Station (Napoli Centrale, Stazione Garibaldi) from the airport.<br><br>
      You have two options to do so:<br>
    </p>
    <ul style="--grid-column: col-start / span 12;" class="font-size-2">
      <li>Get a taxi just outside the airport and ask to take you to the Central Station</li>
      <li>Get a ticket for “Alibus”, a shuttle bus that will take you to the station in 15 minutes. You can get tickets online or at the airport.</li>
    </ul>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center">
      Once you get to Napoli Centrale, Stazione Garibaldi, it&apos;s time to hop on a regional train. You can buy online tickets for it with <a href="https://www.trenitalia.com/en.html" target="_blank">Trenitalia</a>.<br>
      The train ride to Caserta is around 40 minutes.<br><br>
      <small>Tip: check the timetable in advance, as trains might not run as often, especially on the weekends.</small>
    </p>
  </section>
  <img class="margin-bottom-3xl margin-inline-auto flip-horizontal" src="/images/plane-seperator.svg" alt="" width="546" height="141" role="presentation">
  <section class="grid margin-bottom-3xl">
    <h2 style="--grid-column: col-start / span 12;" class="font-size-4 text-align-center margin-bottom-m">Stay</h2>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center margin-bottom-m">
      Once in Caserta, public transportation will be more sporadic. Whether you decide to rent a car or not, we recommend that you book an accommodation in the heart of the city, so you&apos;ll be able to move around on foot.<br><br>
      Find below a list of hotel and B&B options within the city center. 
    </p>
    <h3 style="--grid-column: col-start / span 12;" class="font-size-2 text-align-center text-italic">Via Roma & Corso Trieste</h3>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center">
      These are the 2 main entrance roads to the city. A hotel in this location will allow you to be close to the city center, with plenty of shops, coffee places, and bars. Both Central Station and the Caserta Royal Palace are less than 10 minutes walking distance.<br><br>
      Some good hotels in this area are:
    </p>
    <article style="--grid-column: col-start / span 12; --grid-column-sm: col-start / span 6;" class="text-align-center">
      <h4 class="font-size-2 margin-bottom-2xs">Hotel Royal Caserta</h4>
      <div class="display-flex justify-content-center margin-bottom-s" aria-label="4 out of 4 stars">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
      </div>
      <p class="font-size-1">
        The hotel is next to the train station, and just 300 meters from the Royal Palace.
      </p>
    </article>
    <article style="--grid-column: col-start / span 12; --grid-column-sm: col-start 7 / span 6;" class="text-align-center margin-bottom-m">
      <h4 class="font-size-2 margin-bottom-2xs">Hotel Europa Art Caserta</h4>
      <div class="display-flex justify-content-center margin-bottom-s" aria-label="4 out of 4 stars">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
      </div>
      <p class="font-size-1">
        The hotel is set in the shopping district of Caserta, just 300 meters from the Royal Palace.
      </p>
    </article>
    <article style="--grid-column: col-start / span 12; --grid-column-sm: col-start / span 6;" class="text-align-center">
      <h4 class="font-size-2 margin-bottom-2xs">Hotel Bruman</h4>
      <div class="display-flex justify-content-center margin-bottom-s" aria-label="4 out of 4 stars">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
      </div>
      <p class="font-size-1">
        Central location in the shopping area, and 1 kilometer from the Royal Palace.
      </p>
    </article>
    <article style="--grid-column: col-start / span 12; --grid-column-sm: col-start 7 / span 6;" class="text-align-center margin-bottom-m">
      <h4 class="font-size-2 margin-bottom-2xs">Tropicana Room</h4>
      <div class="display-flex justify-content-center margin-bottom-s" aria-label="4 out of 4 stars">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
      </div>
      <p class="font-size-1">
        B&B in the main shopping street, just 400 meters from the Royal Palace.
      </p>
    </article>
    <h3 style="--grid-column: col-start / span 12;" class="font-size-2 text-align-center text-italic margin-top-xl">Piazza Vanvitelli</h3>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center">
    This lively square is located less than 15 minutes walking distance from the Central Station. You&apos;ll still be in the heart of the city center, with plenty of options around you for eating, drinking and sightseeing.<br><br>
      Some good hotels in this area are:
    </p>
    <article style="--grid-column: col-start / span 12; --grid-column-sm: col-start / span 6;" class="text-align-center">
      <h4 class="font-size-2 margin-bottom-2xs">Hotel dei Cavalieri Caserta</h4>
      <div class="display-flex justify-content-center margin-bottom-s" aria-label="4 out of 4 stars">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
      </div>
      <p class="font-size-1">
        In the heart of Caserta, Hotel dei Cavalieri overlooks the green Piazza Luigi Vanvitelli.
      </p>
    </article>
    <article style="--grid-column: col-start / span 12; --grid-column-sm: col-start 7 / span 6;" class="text-align-center margin-bottom-m">
      <h4 class="font-size-2 margin-bottom-2xs">Terra - Bed and Breakfast</h4>
      <div class="display-flex justify-content-center margin-bottom-s" aria-label="3 out of 4 stars">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
        <img src="/images/star.svg" alt="" width="30" height="30" role="presentation">
      </div>
      <p class="font-size-1">
        1 kilometer from the Royal Palace. Guests can grab a bite to eat in the in-house restaurant, which specializes in Italian vegetarian, vegan, and gluten-free options.
      </p>
    </article>
    <p style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;" class="font-size-2 text-align-center">
      For other options, visit <a href="https://www.booking.com" target="_blank">Booking.com</a> or your preferred travel website.
    </p>
  </section>
{% endblock %}
