{% layout "layouts/base" %}

{% block title %}Travel and accommodations{% endblock %}

{% block content %}
  <h1>Travel and accommodations</h1>
  <section>
    <h2>Information on nearby hotels and accommodations</h2>
  </section>
  <section>
    <h2>Flights information</h2>
  </section>
  <section>
    <h2>Travel tips (nearest airport, transportation options)</h2>
  </section>
  <section>
    <h2>Local attractions for out-of-town guests</h2>
  </section>
{% endblock %}
