{% layout "layouts/base" %}

{% block title %}Code Required{% endblock %}

{% block content %}
  <section class="grid margin-top-3xl margin-bottom-3xl" style="--grid-column: col-start / span 12; --grid-column-md: col-start 3 / span 8;">
    <h1 class="font-size-4">Secret code</h1>
    <p class="font-size-2">
      Enter the secret code provided with your invitation to access this page.
    </p>
    {% if sessionExpired %}
      <div class="alert" role="alert">
        <div class="alert-icon" aria-label="">⚠️</div>
        <p class="alert-text">Your session expired before we could proccess your request. Please try again.</p>
      </div>
    {% endif %}
    {% if invalidCode %}
      <div id="code-error" class="alert" role="alert">
        <div class="alert-icon" aria-label="">⚠️</div>
        <p class="alert-text">Invalid code, please provide the code on your invitation.</p>
      </div>
    {% endif %}
    <form method="post">
      <div class="margin-bottom-m">
        <label class="font-size-1" for="code">Secret code:</label><br>
        <input class="text-control" type="password" id="code" name="code" autocomplete="off" required{% if invalidCode %} aria-invalid="true" aria-errormessage="code-error"{% endif %}>
      </div>
      <button class="button" type="submit">Submit</button>
    </form>
  </section>
{% endblock %}
