/* GENERATED STYLES */
/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -2: 12.5px → 12.8px */
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  /* Step -1: 15px → 16px */
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  /* Step 0: 18px → 20px */
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  /* Step 1: 21.6px → 25px */
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  /* Step 2: 25.92px → 31.25px */
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  /* Step 3: 31.104px → 39.0625px */
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  /* Step 4: 37.3248px → 48.8281px */
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  /* Step 5: 44.7898px → 61.0352px */
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  /* Step 6: 53.7477px → 76.2939px */
  --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Space 2xs: 9px → 10px */
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vi, 0.625rem);
  /* Space xs: 14px → 15px */
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vi, 0.9375rem);
  /* Space s: 18px → 20px */
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  /* Space m: 27px → 30px */
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vi, 1.875rem);
  /* Space l: 36px → 40px */
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vi, 2.5rem);
  /* Space xl: 54px → 60px */
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vi, 3.75rem);
  /* Space 2xl: 72px → 80px */
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vi, 5rem);
  /* Space 3xl: 108px → 120px */
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vi, 7.5rem);

  /* One-up pairs */
  /* Space 2xs-xs: 9px → 15px */
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  /* Space xs-s: 14px → 20px */
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  /* Space s-m: 18px → 30px */
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  /* Space m-l: 27px → 40px */
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  /* Space l-xl: 36px → 60px */
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  /* Space xl-2xl: 54px → 80px */
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  /* Space 2xl-3xl: 72px → 120px */
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);

  /* Custom pairs */
  /* Space s-l: 18px → 40px */
  --space-s-l: clamp(1.125rem, 0.6467rem + 2.3913vi, 2.5rem);
}

/* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --grid-max-width: 77.50rem;
  --grid-gutter: var(--space-s-l, clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem));
  --grid-columns: 12;
}
/* END GENERATED STYLES */

@font-face {
  font-family: "Alice";
  src: url("/fonts/alice.woff2") format("woff2");
}

@font-face {
  font-family: "Amsterdam One";
  src: url("/fonts/amsterdam-one.woff2") format("woff2");
}

:root {
  --color-base: #fff9f2;
  --color-fancy: #ad7913;
  --color-button: #d87127;
  --color-text-primary: #322617;
  --color-text-secondary: #f8f4ee;
  --font-family-base: "Alice", serif;
  --font-family-fancy: "Amsterdam One", serif;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xlg: 1200px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

img {
  min-width: 0;
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.1;
  font-kerning: none;
  font-variant-ligatures: none;
  font-feature-settings: "kern" 0, "calt" 0, "liga" 0, "clig" 0, "dlig" 0, "hlig" 0;
  font-family: var(--font-family-base);
  background-color: var(--color-base);
  color: var(--color-text-primary);
}

body {
  font-size: var(--step-0);
}

h1 { font-size: var(--step-3); }
h2 { font-size: var(--step-2); }
h3 { font-size: var(--step-1); }
h4 { font-size: var(--step-0); }
h5 { font-size: var(--step--1); }
h6 { font-size: var(--step--2); }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  text-decoration: underline;
  color: inherit;
}

.display-flex { display: flex; }

.flex-wrap { flex-wrap: wrap; }

.flex-direction-column { flex-direction: column; }
.flex-direction-row { flex-direction: row; }

.flex-direction-row-on-md {
  @media (min-width: 768px) {
    & {
      flex-direction: row;
    }
  }
}

.gap-2xs { gap: var(--space-2xs); }
.gap-xs { gap: var(--space-xs); }
.gap-s { gap: var(--space-s); }
.gap-m { gap: var(--space-m); }
.gap-l { gap: var(--space-l); }
.gap-xl { gap: var(--space-xl); }
.gap-2xl { gap: var(--space-2xl); }
.gap-3xl { gap: var(--space-3xl); }


.justify-content-center { justify-content: center; }
.justify-content-space-between { justify-content: space-between; }

.width-100 { width: 100%; }

.margin-bottom-2xs { margin-bottom: var(--space-2xs); }
.margin-bottom-xs { margin-bottom: var(--space-xs); }
.margin-bottom-s { margin-bottom: var(--space-s); }
.margin-bottom-m { margin-bottom: var(--space-m); }
.margin-bottom-l { margin-bottom: var(--space-l); }
.margin-bottom-xl { margin-bottom: var(--space-xl); }
.margin-bottom-2xl { margin-bottom: var(--space-2xl); }
.margin-bottom-3xl { margin-bottom: var(--space-3xl); }

.margin-inline-auto { margin-inline: auto; }
.margin-block-auto { margin-block: auto; }

.padding-bottom-2xs { padding-bottom: var(--space-2xs); }
.padding-bottom-xs { padding-bottom: var(--space-xs); }
.padding-bottom-s { padding-bottom: var(--space-s); }
.padding-bottom-m { padding-bottom: var(--space-m); }
.padding-bottom-l { padding-bottom: var(--space-l); }
.padding-bottom-xl { padding-bottom: var(--space-xl); }
.padding-bottom-2xl { padding-bottom: var(--space-2xl); }
.padding-bottom-3xl { padding-bottom: var(--space-3xl); }

.padding-block-2xs { padding-block: var(--space-2xs); }
.padding-block-xs { padding-block: var(--space-xs); }
.padding-block-s { padding-block: var(--space-s); }
.padding-block-m { padding-block: var(--space-m); }
.padding-block-l { padding-block: var(--space-l); }
.padding-block-xl { padding-block: var(--space-xl); }
.padding-block-2xl { padding-block: var(--space-2xl); }
.padding-block-3xl { padding-block: var(--space-3xl); }

.font-size--2 { font-size: var(--step--2); }
.font-size--1 { font-size: var(--step--1); }
.font-size-0 { font-size: var(--step-0); }
.font-size-1 { font-size: var(--step-1); }
.font-size-2 { font-size: var(--step-2); }
.font-size-3 { font-size: var(--step-3); }
.font-size-4 { font-size: var(--step-4); }
.font-size-5 { font-size: var(--step-5); }
.font-size-6 { font-size: var(--step-6); }

.text-align-center { text-align: center; }

.text-transform-uppercase { text-transform: uppercase; }

.text-fancy {
  font-family: var(--font-family-fancy);
  color: var(--color-fancy);
  line-height: 1.3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), [col-start] 1fr);
  gap: var(--grid-gutter);

  > * {
    /* Base */
    grid-row: var(--grid-row);
    grid-column: var(--grid-column);

    /* Small */
    @media (min-width: 576px) {
      & {
        grid-row: var(--grid-row-sm, var(--grid-row));
        grid-column: var(--grid-column-sm, var(--grid-column));
      }
    }
    
    /* Medium */
    @media (min-width: 768px) {
      & {
        grid-row: var(--grid-row-md, var(--grid-row-sm, var(--grid-row)));
        grid-column: var(--grid-column-md, var(--grid-column-sm, var(--grid-column)));
      }
    }
    
    /* Large */
    @media (min-width: 992px) {
      & {
        grid-row: var(--grid-row-lg, var(--grid-row-md, var(--grid-row-sm, var(--grid-row))));
        grid-column: var(--grid-column-lg, var(--grid-column-md, var(--grid-column-sm, var(--grid-column))));
      }
    }
    
    /* Extra Large */
    @media (min-width: 1200px) {
      & {
        grid-row: var(--grid-row-xlg, var(--grid-row-lg, var(--grid-row-md, var(--grid-row-sm, var(--grid-row)))));
        grid-column: var(--grid-column-xlg, var(--grid-column-lg, var(--grid-column-md, var(--grid-column-sm, var(--grid-column)))));
      }
    }
  }
}

.page-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.nav {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  a {
    padding: var(--space-s) var(--space-m);
    text-decoration: none;
    text-align: center;
    color: var(--color-fancy);

    &:hover {
      text-decoration: underline;
    }
  }
}

.button {
  padding: var(--space-s) var(--space-m);
  border: none;
  font-size: var(--step--1);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  color: var(--color-text-secondary);
  background-color: var(--color-button);
}

.image {
  height: 314px;
  object-fit: contain;
}
